html,body{
    background-color: #353131;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#stack{
    margin:0;
    width: 400px;
    height: 400px;
    overflow: auto;
    border: 2px solid whitesmoke;
}
input{
    text-align: center;
    border:none;
    background-color: #433e3e;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}