html,body{
    background-color: #353131;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#stack{
    margin: 20px auto;
    width: 400px;
    height: 400px;
    overflow: auto;
    border: 2px solid whitesmoke;
}
h2{
    margin: 0 auto;
    text-align: center;
}
hr{
    margin: 0 auto;
}
input{
    text-align: center;
    border:none;
    background-color: #433e3e;
    margin: 0;
    justify-content: center;
    padding: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance:none;
  margin: 0;
}
input[type=number] {
    appearance:none;
    -moz-appearance: textfield;
  }
span{
    padding: 0;
    margin: 0;
}

.timeSlot{
    margin: 1px auto;
    width: 98%;
}

.currentTimeSlot{
border: 2px solid yellow;
}
.slotTitle{
display:inline;
text-align: left;
overflow:hidden;
white-space:nowrap;
}
.slotTime{
display: inline;
float:right;
padding-right: 5px;
}